button#iptal {
    background: var(--red);
    color: #fff;
}

button#iptal:hover {
    background: var(--red-hover);
    transition-duration: 300ms;
}

.header {
    background: #000;
    display: flex;
    color: white;
    align-items: center;
}

.logo {
    margin: 0 0 0 1rem;
    font-size: 3rem;
}

.header .links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header .links a {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .9rem;
    gap: .5rem;
    padding: 1rem;
}

.header .links a:hover {
    background: var(--yellow);
    color: #000;
    transition-duration: 300ms;
}

.header .links a i {
    font-size: 1.6rem;
}

.header .user {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding-right: 1rem;
    gap: .3rem;
    cursor: pointer;
}

.main {
    position: relative;
}

.user-box {
    width: 100%;
    background: #000;
    padding: .5rem 1rem;
    font-size: 1.1rem;
    display: none;
    color: white;
}

.user-box td {
    padding: .5rem .3rem;
}

.user-box a {
    color: white;
}

.user-box #cikis {
    color: var(--yellow);
}

.active {
    display: block;
}

.active-yellow {
    background: var(--yellow);
}

.main .section {
    margin: 1rem 10rem;
    background: #000;
    color: white;
    padding: 1rem;
}

.maclar-table {
    padding: 1rem .5rem;
}

.maclar-table h3 {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.maclar-table h3 span {
    flex: 1;
}

.maclar-table h3 img {
    max-height: 2rem;
}

.maclar-table h3 button {
    padding: .5rem 1rem;
    background: var(--yellow);
    font-size: 1rem;
    display: flex;
    gap: .4rem;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: .5rem;
    font-weight: bold;
    cursor: pointer;
    width: 9.5rem;
    justify-content: center;
}

.maclar-table h3 button:hover, .tamamla button:enabled:hover, .bakiye:hover {
    background: var(--yellow-hover);
    transition-duration: 300ms;
}

.maclar-table .see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.maclar-table .see-more i {
    cursor: pointer;
    font-size: 2rem;
}

.maclar-table .more {
    display: none;

}

.maclar-table .more.active {
    display: block;
}

.mac-row {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.mac-row .mac-tarih {
    flex: 1;
}

.mac-row .mac-takimlar {
    flex: 2;
    font-weight: bold;
    display: flex;
}

.mac-row .mac-takimlar .mac-takim {
    width: 10rem;
    gap: 1rem;
}

.mac-row .mac-takimlar .mac-takim:last-child {
    justify-content: flex-end;
}

.mac-row .mac-takimlar .mac-takim, .mac-row .mac-takimlar .mac-sonuc {
    display: flex;
    align-items: center;
}
.mac-row .mac-takimlar .mac-sonuc {
    padding: 0 1rem;
}

.mac-row .takimlogo {
    height: 1.5rem;
}

.mac-row .takimlogo img {
    max-height: 1.5rem;
}

.mac-row .buttons button {
    width: 2.5rem;
    height: 2.5rem;
    background: rgb(38, 38, 38);
    margin: 0;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.mac-row .buttons button i {
    font-size: .7rem;
    color: var(--yellow);
    font-weight: normal;
}

.kazanan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kazanan .baslik {
    font-size: 1.3rem;
}

.kazanan span {
    margin: .5rem 0;
}

.kazanan b {
    font-size: 1.8rem;
}

.kazanan .odul {
    font-size: 1.4rem;
}

.kazanan .kupon a {
    font-weight: bold;
    color: steelblue;
}

.kazanan .kupon a:hover {
    color: #ddd;
}

.kazanan i {
    color: rgb(248, 202, 79);
    font-size: 3.5rem;
}

.bolumler {
    display: flex;
    gap: 1rem;
    margin: 1rem 10rem;
}

.bolumler .section {
    width: 100%;
    margin: 0;
    min-height: 25rem;
}

.siralama {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.siralama .baslik {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.siralama i {
    font-size: 3rem;
    color: steelblue;
}

.siralama table {
    width: 100%;
}

.siralama table tr td {
    padding: .5rem;
    border: .1rem solid #ddd;
}

.siralama table tr:nth-child(even) {
    background: var(--bg);
}

.siralama table tr td:nth-child(3), .siralama table tr td:nth-child(4), .siralama table tr td:nth-child(1) {
    text-align: center;
}

.mac-row button.selected {
    background: var(--yellow);
    color: #000;
}

.mac-row button.selected > i {
    color: #000;
}

.bakiye {
    background: var(--yellow);
    color: #000;
    padding: .5rem;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1rem;
}

.tamamla {
    padding-bottom: 1rem;
}

.tamamla button {
    width: 100%;
    padding: .5rem 1rem;
    background: var(--yellow);
    font-size: 1rem;
    display: flex;
    gap: .4rem;
    flex-direction: row-reverse;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
}

.tamamla button:disabled {
    background: #ddd;
    cursor:not-allowed;
}

.skor {
    font-weight: bold;
}

.popup-container {
    position: fixed;
    top: 0;
    left: -105%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container.active {
    left: 0;
}

.popup-container .popup {
    background: black;
    color: white;
    width: 50rem;
    padding: 1rem;
    position: relative;
}

.kuponu-tamamla-popup .table-container {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kuponu-tamamla-popup .table-container .maclar {
    display: inline;
}

.popup-container .popup .exit {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.kuponu-tamamla-popup table img {
    max-height: 1.5rem;
}

.kuponu-tamamla-popup table.kupon-table thead td{
    font-weight: bold;
    background: var(--table-head);
}

.kuponu-tamamla-popup table.kupon-table a {
    color: white;
    font-weight: 700;
}

.kuponu-tamamla-popup table.kupon-table a:hover {
    color: var(--yellow);
}

.kuponu-tamamla-popup table.kupon-table td {
    padding: .5rem 1rem;
}

.kuponu-tamamla-popup table.kupon-table tr:nth-child(even) {
    background: var(--table-secondary);
}

.kuponu-tamamla-popup table.kupon-table tr:nth-child(odd) {
    background: var(--table-primary);
}

.kuponu-tamamla-popup table.maclar {
    border-collapse: collapse;
}

.kuponu-tamamla-popup table.maclar tr {
    border: .1rem solid black;
}

.kuponu-tamamla-popup table.maclar tr td {
    background: var(--table-secondary);
}

.kuponu-tamamla-popup table.kupon-table td#oynanan-lig {
    display: flex;
    align-items: center;
    gap: .5rem;
}

span#lig-hafta {
    font-size: 1.3rem;
    color: var(--yellow);
}

.odeme-yontemi {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;
}

.odeme-yontemi button {
    width: 10rem;
    background: transparent;
    cursor: pointer;
}

.odeme-yontemi button#papara {
    height: 2.5rem;
    display: flex;
    justify-content: center;
}

.odeme-yontemi button#elden {
    background: var(--yellow);
    height: 2.5rem;
    border-radius: .2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.odeme-yontemi button#elden i {
    font-size: 1.5rem;
}

.odeme-yontemi button img {
    width: 100%;
}

.odeme-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.odeme-papara .odeme-popup .img {
    padding: .5rem 0;
}

.odeme-papara .odeme-popup img {
    max-height: 3rem;
    margin-bottom: 1rem;
}

.odeme-popup .aciklama {
    font-size: 1rem;
    text-align: center;
}

.odeme-popup button {
    padding: .5rem 1rem;
    font-weight: 700;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.odeme-popup .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 1rem;
}

.odeme-popup button#odeme-onayla {
    background: var(--yellow);
    color: #000;
}

.odeme-popup button#odeme-onayla:hover {
    background: var(--yellow-hover);
}

.odeme-popup button#iptal-et {
    background: var(--red);
    color: white;
}

.odeme-popup button#iptal-et:hover {
    background: var(--red-hover);
}

.odeme-popup .paparano, .odeme-popup .gtutar {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1rem 0;
    text-align: center;
}

.odeme-popup h2 {
    margin: 1rem 0;
}

.odeme-popup .gtutar {
    padding-top: 0;
    padding-bottom: 1rem;
}

.odeme-elden .gtutar, .odeme-cuzdan .gtutar {
    padding-top: 1rem;
}

@media screen and (min-width: 1024px) {
    .header .user-container {
        display: none;
    }

    .buttons .skor{
        display: none;
    }

    table.mobile {
        display: none;
    }

}

@media (max-width: 1024px) and (min-width: 769px) {
    .main .section {
        margin: 1rem;
    }

    .bolumler {
        gap: 0;
        margin: 0;
    }
    table.mobile {
        display: none;
    }
    .header .user-container {
        display: none;
    }

    .buttons .skor{
        display: none;
    }
}

@media (max-width: 768px) {
    table.web {
        display: none;
    }
    
    .buttons .skor.active{
        display: block;
    }
    
    .buttons .skor{
        display: none;
    }
    
    .buttons .ms-buttons.inactive{
        display: none;
    }

    .mac-takim .takim-skor{
        display: none;
    }

    .main .section {
        margin: 1rem;
    }

    .bolumler {
        flex-direction: column;
        gap: 0;
        margin: 0;
    }

    .bolumler .section {
        margin: .5rem 1rem;
        width: auto;
    }

    .header .links {
        gap: .5rem;
    }

    .header .links a {
        font-size: .6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header .link a i {
        font-size: 1rem;
    }

    .header .bakiye {
        display: none;
    }

    .user-box .bakiye {
        width: fit-content;
    }

    .header{
        justify-content: space-between;
    }

    .user-container {
        display: block;
    }
    
    .logo {
        font-size: 2rem;
    }
    .maclar h1 {
        font-size: 1.2rem;
    }
    .maclar h3 {
        font-size: 1rem;
    }
    .mac-row {
        font-size: .9rem;
        flex-direction: column;
        gap: 1rem;
        margin: 2rem 0;
    }

    .mac-row .mac-takimlar .mac-takim {
        width: 8rem;
        gap: .6rem;
    }

    .odeme-yontemi {
        flex-direction: column;
    }

    .maclar-table h3 button {
        font-size: .8rem;
        width: 5rem;
    }

    .header .links {
        display: none;
    }

    .header .logo {
        flex: 1;
    }
    
    .kuponu-tamamla-popup {
        width: 39rem;
    }
}

@media (max-width: 465px) {
    .odeme-popup button{
        font-size: .8rem;
    }

    .kuponu-tamamla-popup {
        width: 19rem;
    }

    span#lig-hafta {
        font-size: .8rem;
    }

    .kuponu-tamamla-popup table table {
        font-size: .8rem;
    }
}

@media (max-width: 375px) {    
    .mac-row .mac-takimlar .mac-takim {
        width: 7rem;
    }

    .maclar-table h3 button {
        font-size: .7rem;
        padding: .5rem;
    }
}

@media (max-width: 320px) {
    .maclar-table h3 button {
        font-size: .6rem;
    }
}