button#iptal {
    background: var(--red);
    color: #fff;
}

button#iptal:hover {
    background: var(--red-hover);
    transition-duration: 300ms;
}

.header {
    background: #000;
    display: flex;
    color: white;
    align-items: center;
}

.logo {
    margin: 0 0 0 1rem;
    font-size: 3rem;
}

.header .links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header .links a {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .9rem;
    gap: .5rem;
    padding: 1rem;
}

.header .links a:hover {
    background: var(--yellow);
    color: #000;
    transition-duration: 300ms;
}

.header .links a i {
    font-size: 1.6rem;
}

.header .user {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding-right: 1rem;
    gap: .3rem;
    cursor: pointer;
}

.main {
    position: relative;
}

.user-box {
    width: 100%;
    background: #000;
    padding: .5rem 1rem;
    font-size: 1.1rem;
    display: none;
    color: white;
}

.user-box td {
    padding: .5rem .3rem;
}

.user-box a {
    color: white;
}

.user-box #cikis {
    color: var(--yellow);
}

.active {
    display: block;
}

.active-yellow {
    background: var(--yellow);
}

.main .section {
    margin: 1rem 10rem;
    background: #000;
    color: white;
    padding: 1rem;
}

.maclar-table {
    padding: 1rem .5rem;
}

.maclar-table h3 {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.maclar-table h3 span {
    flex: 1;
}

.maclar-table h3 img {
    max-height: 2rem;
}

.maclar-table h3 button {
    padding: .5rem 1rem;
    background: var(--yellow);
    font-size: 1rem;
    display: flex;
    gap: .4rem;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: .5rem;
    font-weight: bold;
    cursor: pointer;
    width: 9.5rem;
    justify-content: center;
}

.maclar-table h3 button:hover, .tamamla button:enabled:hover, .bakiye:hover {
    background: var(--yellow-hover);
    transition-duration: 300ms;
}

.maclar-table .see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.maclar-table .see-more i {
    cursor: pointer;
    font-size: 2rem;
}

.maclar-table .more {
    display: none;

}

.maclar-table .more.active {
    display: block;
}

.mac-row {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.mac-row .mac-tarih {
    flex: 1;
}

.mac-row .mac-takimlar {
    flex: 2;
    font-weight: bold;
    display: flex;
}

.mac-row .mac-takimlar .mac-takim {
    width: 10rem;
    gap: 1rem;
}

.mac-row .mac-takimlar .mac-takim:last-child {
    justify-content: flex-end;
}

.mac-row .mac-takimlar .mac-takim, .mac-row .mac-takimlar .mac-sonuc {
    display: flex;
    align-items: center;
}
.mac-row .mac-takimlar .mac-sonuc {
    padding: 0 1rem;
}

.mac-row .takimlogo {
    height: 1.5rem;
}

.mac-row .takimlogo img {
    max-height: 1.5rem;
}

.mac-row .buttons button {
    width: 2.5rem;
    height: 2.5rem;
    background: rgb(38, 38, 38);
    margin: 0;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.mac-row .buttons button i {
    font-size: .7rem;
    color: var(--yellow);
    font-weight: normal;
}

.kazanan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kazanan .baslik {
    font-size: 1.3rem;
}

.kazanan span {
    margin: .5rem 0;
}

.kazanan b {
    font-size: 1.8rem;
}

.kazanan .odul {
    font-size: 1.4rem;
}

.kazanan .kupon a {
    font-weight: bold;
    color: steelblue;
}

.kazanan .kupon a:hover {
    color: #ddd;
}

.kazanan i {
    color: rgb(248, 202, 79);
    font-size: 3.5rem;
}

.bolumler {
    display: flex;
    gap: 1rem;
    margin: 1rem 10rem;
}

.bolumler .section {
    width: 100%;
    margin: 0;
    min-height: 25rem;
}

.siralama {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.siralama .baslik {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.siralama i {
    font-size: 3rem;
    color: steelblue;
}

.siralama table {
    width: 100%;
}

.siralama table tr td {
    padding: .5rem;
    border: .1rem solid #ddd;
}

.siralama table tr:nth-child(even) {
    background: var(--bg);
}

.siralama table tr td:nth-child(3), .siralama table tr td:nth-child(4), .siralama table tr td:nth-child(1) {
    text-align: center;
}

.mac-row button.selected {
    background: var(--yellow);
    color: #000;
}

.mac-row button.selected > i {
    color: #000;
}

.bakiye {
    background: var(--yellow);
    color: #000;
    padding: .5rem;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1rem;
}

.tamamla {
    padding-bottom: 1rem;
}

.tamamla button {
    width: 100%;
    padding: .5rem 1rem;
    background: var(--yellow);
    font-size: 1rem;
    display: flex;
    gap: .4rem;
    flex-direction: row-reverse;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
}

.tamamla button:disabled {
    background: #ddd;
    cursor:not-allowed;
}

.skor {
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    .header .user-container {
        display: none;
    }

    .buttons .skor{
        display: none;
    }

}

@media (max-width: 1024px) and (min-width: 769px) {
    .main .section {
        margin: 1rem;
    }

    .bolumler {
        gap: 0;
        margin: 0;
    }
}

@media (max-width: 768px) {
    
    .buttons .skor.active{
        display: block;
    }
    
    .buttons .skor{
        display: none;
    }
    
    .buttons .ms-buttons.inactive{
        display: none;
    }

    .mac-takim .takim-skor{
        display: none;
    }

    .main .section {
        margin: 1rem;
    }

    .bolumler {
        flex-direction: column;
        gap: 0;
        margin: 0;
    }

    .bolumler .section {
        margin: .5rem 1rem;
        width: auto;
    }

    .header .links {
        gap: .5rem;
    }

    .header .links a {
        font-size: .6rem;
    }

    .header .link a i {
        font-size: 1rem;
    }

    .bakiye {
        display: none;
    }

    .header{
        justify-content: space-between;
    }

    .user-container {
        display: block;
    }
}
@media (max-width: 768px) {
    .logo {
        font-size: 2rem;
    }
    .maclar h1 {
        font-size: 1.2rem;
    }
    .maclar h3 {
        font-size: 1rem;
    }
    .mac-row {
        font-size: .9rem;
        flex-direction: column;
        gap: 1rem;
        margin: 2rem 0;
    }

    .mac-row .mac-takimlar .mac-takim {
        width: 8rem;
        gap: .6rem;
    }

    .maclar-table h3 button {
        font-size: .8rem;
        width: 5rem;
    }

    .header .links {
        display: none;
    }

    .header .logo {
        flex: 1;
    }
}

@media (max-width: 375px) {    
    .mac-row .mac-takimlar .mac-takim {
        width: 7rem;
    }

    .maclar-table h3 button {
        font-size: .7rem;
        padding: .5rem;
    }
}

@media (max-width: 320px) {
    .maclar-table h3 button {
        font-size: .6rem;
    }
}