.header {
    background: #000;
    display: flex;
    color: white;
    align-items: center;
}

.logo {
    margin: 0 0 0 1rem;
    font-size: 3rem;
}

.header .links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header .links a {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .9rem;
    gap: .5rem;
    padding: 1rem;
}

.header .links a:hover {
    background: var(--yellow);
    color: #000;
    transition-duration: 300ms;
}

.header .links a i {
    font-size: 1.6rem;
}

.header .user {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding-right: 1rem;
    gap: .3rem;
    cursor: pointer;
}

.main {
    position: relative;
}

.user-box {
    width: 100%;
    background: #000;
    padding: .5rem 1rem;
    font-size: 1.1rem;
    display: none;
    color: white;
}

.user-box td {
    padding: .5rem .3rem;
}

.user-box a {
    color: white;
}

.user-box #cikis {
    color: var(--yellow);
}

.active-yellow {
    background: var(--yellow);
}

.main .section {
    margin: 1rem 10rem;
    background: #000;
    color: white;
    padding: 1rem;
}

.bakiye {
    background: var(--yellow);
    color: #000;
    padding: .5rem;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1rem;
}

#yellowbtn:hover {
    background: var(--yellow-hover);
    transition-duration: 300ms;
}

.header .links a.here{
    background: var(--yellow);
    color: #000;
}

.mevcut-bakiye {
    text-align: center;
}

.mevcut-bakiye h1 {
    color: var(--yellow);
}

.tutar {
    font-size: 1.5rem;
}

.tutar input {
    font-size: 1.5rem;
    width: 3.8rem;
    padding: .3rem .5rem;
    text-align: right;
}

.section h1 {
    margin: 1rem 0;
    text-align: center;
}

.odeme-yontemi {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;
}

.odeme-yontemi button {
    width: 10rem;
    background: transparent;
    cursor: pointer;
}

.odeme-yontemi button#papara {
    display: flex;
    justify-content: center;
}

.odeme-yontemi button#elden {
    background: var(--yellow);
    height: 2.5rem;
    border-radius: .2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.odeme-yontemi button#elden i {
    font-size: 1.5rem;
}

.odeme-yontemi button img {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.odeme-popup-container {
    position: fixed;
    top: 0;
    left: -105%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.odeme-popup-container.active {
    left: 0;
}

.odeme-popup {
    background: black;
    color: white;
    width: 50rem;
    padding: 1rem;
    position: relative;
}

.odeme-popup .exit {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.odeme-popup {
    text-align: center;
}

.odeme-popup div {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.odeme-popup div span {
    font-weight: 700;
}

.odeme-papara .odeme-popup img {
    max-height: 3rem;
    margin-bottom: 1rem;
}

.odeme-popup button {
    padding: .5rem 1rem;
    font-weight: 700;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.odeme-popup .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 1rem;
}

.odeme-popup button#odeme-onayla {
    background: var(--yellow);
    color: #000;
}

.odeme-popup button#odeme-onayla:hover {
    background: var(--yellow-hover);
}

.odeme-popup button#iptal-et {
    background: var(--red);
    color: white;
}

.odeme-popup button#iptal-et:hover {
    background: var(--red-hover);
}

.odeme-elden h2 {
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .header .user-container {
        display: none;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .main .section {
        margin: 1rem;
    }

    .bolumler {
        gap: 0;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .bekleyen-islemler, .oduller {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main .section {
        margin: 1rem;
    }

    .bolumler {
        flex-direction: column;
        gap: 0;
        margin: 0;
    }

    .bolumler .section {
        margin: .5rem 1rem;
        width: auto;
    }

    .header .links {
        gap: .5rem;
    }

    .header .links a {
        font-size: .6rem;
    }

    .header .link a i {
        font-size: 1rem;
    }

    .header .bakiye {
        display: none;
    }

    .user-box .bakiye {
        width: fit-content;
    }

    .header{
        justify-content: space-between;
    }

    .user-container {
        display: block;
    }

    .odeme-yontemi {
        flex-direction: column;
    }

    .logo {
        font-size: 2rem;
    }

    .header .links {
        display: none;
    }

    .header .logo {
        flex: 1;
    }

    .odeme-popup {
        width: 39rem;
    }

    table.mobile {
        display: block;
    }
}

@media (max-width: 425px) {
    .odeme-popup {
        width: 19rem;
    }

    .odeme-popup .buttons {
        flex-direction: column-reverse;
    }
}